<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div><center>
<h2> You Have Searched  {{q}}</h2></center>
</div><br>


<div class="container-fluid" style="margin-bottom:100px;">
    <div class="row">
{% if b %}
    {% for i in b %}
    <div class="col-sm-4">
    <div class="card" style="width: 26rem;">
  <img src="{{i.image.url}}" height="250px" width="100%" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title text-center fw-bold">{{i.name}} </h5>
          <h5 class="card-title text-center fw-bold">{{i.price}} </h5>

    <a href="{% url 'shop:details' i.name %}" class="btn btn-primary" style="position:relative;left:40%;">Details </a>
  </div>
</div>
        </div>{% endfor %}
{% else %}
        <h4 class="text-center">No Result</h4>
{% endif %}
</div>
</div>


{% endblock %}